<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

        <type name="Magento\Framework\Locale\Format">
            <plugin name="solusoft_pricing" type="Solusoft\Pricing\Pluging\PlugingFormat" sortOrder="10" />
        </type>

        <type name="Magento\Directory\Model\PriceCurrency">
            <plugin name="solusoft_pricing_price_currency" type="Solusoft\Pricing\Pluging\PlugingFormat" sortOrder="20" />
        </type>

        <type name="Magento\Directory\Model\Currency">
            <plugin name="solusoft_pricing_currency" type="Solusoft\Pricing\Pluging\PlugingFormat" sortOrder="30" />
        </type>

</config>
